* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1040px;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  display: flex;
  background-color: #373d48;
}

.header__photo-box {
  flex-basis: 30%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__photo-link{
  display: block;
  height: 90%;
}

.header__photo {
  display: block;
  height: 100%;
  transition: transform 0.2s;
}

.header__photo:hover {
  transform: scale(1.1);
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #9b9b9b;
  padding-left: 16px;
}

.header__full-name {
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
}

.header__profession {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.main {
  flex-grow: 1;
  display: flex;
  height: 100%;
}

.main__section-title {
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(213, 214, 214);
  margin-bottom: 16px;
  color: rgb(55, 61, 72);
  font-size: 24px;
  font-weight: 600;
}

.text-hor-align_center {
  text-align: center;
}


.main__work-education {
  padding: 16px;
  flex-basis: 70%;
}

.main__contact-skills {
  background-color: #f4f4f4;
  padding: 16px;
  flex-basis: 30%;
}

.main__section {
  padding-bottom: 32px;
}

.main__section-record {
  font-size: 18px;
  line-height: 1.5em;
  display: flex;
  color: #9b9b9b;
}

.main__section-record:not(:last-child) {
  padding-bottom: 16px;
}

.main__section-record-date {
  flex-basis: 25%;
  text-align: right;
}

.main__section-record-content {
  flex-basis: 75%;
}

.main__section-line {
  font-size: 18px;
  line-height: 1.5em;
  color: #9b9b9b;
  font-style: normal;
}

a.main__section-line:hover {
  color: #5b5b5b;
}

.main__subsection-title {
  color: rgb(55, 61, 72);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 8px;
}

.main__contacts-list-item,
.main__language-list-item,
.main__skill-list-item
{
  line-height: 2.5em;
}

.main__skill-list-item > div
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__section-text-box {
  padding-top: 8px;
  font-size: 18px;
  line-height: 1.5em;
  color: #9b9b9b;
  font-style: normal;
}

.footer {
  padding: 16px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 1.5em;
  color: #373D48;
  font-style: normal;
}
.footer__nav{
  display: flex;
  align-items: center;
}

.footer__nav-list{
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer__nav-list-item{
  transition: transform 0.2s;
}

.footer__nav-list-item:hover{
  transform: scale(1.1);
}

.footer__nav-list-item:not(:last-child){
  margin-right: 8px;
}

.footer__nav-list-item-link{
  display: flex;
  align-items: center;
  color: inherit;
}

.footer__date {
  /*height: min-content;*/
  /*display: flex;*/
  /*align-items: center;*/
}

.footer__nav-list-item-img{
  height: 31px;
}

